<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--    Default logback configuration    -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <!-- <include resource="org/springframework/boot/logging/logback/file-appender.xml"/> -->
    <!--   -->
<appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>./logback.log</file>
    <encoder>
        <pattern>%d{HH:mm:ss.SSS} trace_id=%X{trace_id} span_id=%mdc{span_id} trace_flags=%mdc{trace_flags} %5p [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
</appender>

    <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.v1_0.OpenTelemetryAppender">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </appender>
    <root level="INFO">
        <appender-ref ref="OTEL"/>
    </root>
</configuration>